@model IEnumerable<TMDT.Models.Category>
@{
    ViewBag.Title = "Home Page";
}

<h2>Home</h2>
@foreach (var item in Model)
{
    <ul>
        <li>
            <a href=" @item.Alias">@item.Name</a>
        </li>
    </ul>
}